h1 {
  color: darkblue;
  text-align: center;
}

#mainTitle {
  background-color: lightgray;
  padding: 15px;
  border: 3px solid black;
}

.description {
  font-size: 18px;
  margin: 50px;
  text-align: center;
}

.input-field {
  display: block;
  max-width: 300px;
  padding: 8px;
  margin: 10px auto;
}

.btn-submit {
  display: inline;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-reset {
  display: inline;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.student-table {
  width: 60%;
  margin-top: 20px;
  border-collapse: collapse;
}

.student-table th,
.student-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.box1 {
  width: 150px;
  height: 100px;
  background-color: orange;
  position: relative;
  top: 50px;
  left: 200px;
  z-index: 1;
}

.form-box {
  max-width: 350px;
  height: 120px;
  overflow: auto;
  border: 2px solid blue;
  padding: 10px;
  margin: 20px auto;
}
